extends base.pug

block content
    h1 Edit an existing item
    form(action=`/items/${item.name}?_method=PATCH` method="POST")
        input(type="text" name="name" value=`${item.name}`)
        input(type="text" name="price" value=`${item.price}`)
        input(type="submit" value="Update Item")